.idea/
.project
out.vcd
test
*.bat
*.wlf
*.mti
_info
*.qdb
_vmake
*.mti
*.cpp
*.qpg
*.py
*.flock
*.hdb
*.logdb
*.kpt
*.rdb
*.txt
*.sci
*.qmsg
*.summary
*.rpt
*.smsg
*.done
README
*.ddb
*.ipinfo
*.html
*.db_info
*.xml
*.bpm
*.hif
*.dfp
*.ammdb
*.sig
*.hb_info
*.rvd
*.cdb
*.tdb
*.syn_hier_info
*.tdf
*.jdi
*.pin
*.sof
*.dpi
*.hier_info
*.idb
*.hsd
*.qsf
*.qpf
*.rcfdb
*.dat
